@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto|Source+Sans+Pro');

$primaryColor:      #010101;
$secondaryColor:    #001b48;
$thirdColor:        #2f3a56;
$redBgColor:        #E99F8F;
$blueBgColor:       #6AACD4;
$greenBgColor:      #98DC78;
$questionColor:     #E99001;
$medalColor:        #78A811;
$blueBtnColor:      #3085D6;
$redBtnColor:       #DD3333;
$mineColor:         #E42312;
$flagColor:         #E4CC46;
$fieldColor:        #767676;
$textColor:         #E4E8EA;
$greyColor:         #333b3e;
$blackColor:        #272537;

$basic:               'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$roboto:              'Roboto', sans-serif;
$sourceSans:          'Source Sans Pro', sans-serif;
$raleway:             'Raleway', sans-serif;
$quicksand:           'Quicksand', sans-serif;